body {
    background-color: powderblue;
}
.span, .text {
    vertical-align:middle;
    display:table-cell;
}

h1 {
	border: 5px solid black;
    color: white;
	background: grey;
	font-size: 250%;
	display:table;
    width:100%;
	margin-bottom: 5px;
}
blockquote{
	background: white;
	font-size:150;
	border: 3px groove black;
}
	

h1.bar{
	color: blue;
	background: white;
	font-size: 150%;
	float: left;
	width: 455px;
	}
h1.campus{
	width: 800px;
}
h2{
	color: black;
	text-decoration: underline;
	width: 200px;
}

h3{
	size: 175%;
	text-decoration: underline;
}


ul.courses{
	background: #b3b3cc;
	width: 400px;
	padding-bottom: 5px;
	border: 3px solid black;
}
ul{
	background: #b3b3cc;
	color: black;
	border: 3px dotted black;
	margin-bottom: 60px;
}

